
header {
  width: 100%;
  margin: 0 auto;
  background-color: #5A4E4D;
}

body {

  margin: 0 auto;
  background-color: #8593AE;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.wrapper {
  max-width: 960px;
  padding: 0 24px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}
