
header {
  width: 100%;
  margin: 0 auto;
  background-color: #DDA288;
}

body {

  margin: 0 auto;
  background-color: #8593AE;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.wrapper {
  max-width: 960px;
  padding: 0 24px;
  margin: 0 auto;
}

h1 {

}

.blurb {
  background-color: #7E675E;
}
